asgiref
cffi
cycler
Django
django-heroku
django-environ
gunicorn
joblib
kiwisolver
matplotlib
myo-python==1.0.4
numpy
pandas
Pillow
psycopg2
pycparser
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
sqlparse
threadpoolctl
tqdm
whitenoise
